<div class="d-flex justify-content-center">
  <form action="answer" data-turbo="false" method="get">
    <div class="mb-3 mt-5">
      <input type="text" name="question" class="form-control">
    </div>
    <div class="d-flex justify-content-center" >
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
